body {
    margin: 0;
}

div.holder div { 
    height: auto;
    padding: 3%;
    margin: 0 2rem;
}

.holder {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 2rem;
}

.physical_attribute_holder label {
    margin: 0;
    padding: 5% 0;
}

input {
    width: 3.5rem;
    padding: 0.5rem;
    text-align: center;
}

.graph_container {
    width: 22rem;
    border: 2px solid skyblue;    
}

.graph_stats {
    border: 2px solid maroon;
    width: 12rem;
    text-align: left;
}

form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}


form > * {
    margin: 0.5rem;
}

[type="submit"] {
    width: 100%;
}